main
	grid-area: main
	font-size: 1em
	line-height: 1.25
	padding-bottom: 3em
	section
		margin: 0 auto
		width: 43.75em
		max-width: 100%
		article
			img.screen
				max-width: 100%
				padding: 1em
				background: #000
				border-radius: 1em
				position: relative

@media (min-width: 43.75em)
	main
		font-size: 1em
		line-height: 1.375