nav
	ul
		margin: 0
		padding: 0
		display: flex
		justify-content: center
		li
			text-decoration: none
			list-style: none
			a
				color: $nav-link-color
				display: block
				padding: 1em
				&:hover
					background: darken($main-color, 5%)
				&:active
					background: darken($main-color, 15%)

