nav
	box-shadow: 1px 1px #12ace0, 2px 2px #109ac8, 3px 3px #0e88b0, 4px 4px #0c7599, 5px 5px #0a6381, 6px 6px #08516a, 7px 7px #073f52
	ul
		margin: 0
		padding: 0
		display: flex
		justify-content: center
		li
			text-decoration: none
			list-style: none
			a
				color: $nav-link-color
				display: block
				padding: 0.5em
				&:hover
					background: darken($main-color, 5%)
				&:active
					background: darken($main-color, 15%)

@media (min-width: 43.75em) 
	nav
		ul
			li
				a
					padding: 1em

